body {
    background-color: rgb(231, 179, 6);
}

.icono li{
    display: block;
}

.icono i{
    color: rgba(0, 0, 0, .9);
}

.tittles {
    color: rgba(0, 0, 0, .9);
}

.back {
    font-size: 0.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}